# test & coverage output
tests/
coverage.xml
.coverage/

# editor / IDE cruft
.vscode/
.idea/
*.swp

# build output
dist/
build/
*.egg-info/

# notebook cruft
*.ipynb_checkpoints

# python caches
__pycache__/
.mypy_cache/

# OS junk
.DS_Store
Thumbs.db

# virtual environments
.env/
.venv/
*.env
venv/
